<div class="side">
  <h3>{{ title }}</h3>
  <hr>
  <br>
  <p>Look ! Is it a bird? Is it a plane? No, it's a handy dandy To-Do app ! <i class="far fa-heart"></i> </p>
  <p>Please play around with the To-Do app and create your very own to-do list !</p>
  
  <span id="smallScreenHide">
    <br>
    <hr>  
    <br>
    <p>This to-do app was developed using Angular 5, Typescript, HTML5 and CSS.</p>
    <p>This project implements:</p>
    <ul>
      <li>Components</li>
      <li>Directives</li>
      <li>Angular 5 Animations</li>
      <li>Two-way Data Binding</li>
      <li>Event Binding</li>
      <li>Interpolation</li>
    </ul>
    <br>
  </span>

  <br>
</div>

<div class="main">
  <app-to-do></app-to-do>
  <br>
  <br>
</div>
