body{
    width:100%;
}

.side{
    padding-top:5%;
    background-color:#DB775E;
    /*DC756C*/
    width:29%;
    float:left;
    height:100%;
    position: static;
    color:white;
}

.side > *{
    padding:0% 5%;
}

.side > h3{
    margin-left:20%;
}

hr{
    width:60%;
    background-color:whitesmoke;
}
.main{
    width:69.75%;
    float:left;
}

ul{
    margin:0% 4%;
}


@media screen and (max-width: 650px){
    .side{
        float:right;
        width:100%;
        height:100% !important;
    }
    .main{
        float:left !important;
        width:100%;
    }
}

@media screen and (min-width:650px){
    .side{
        height:100vh !important;
    }
}